<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header LogoContainer">
      <a class="navbar-brand">
        <img src="assets/images/logo.png" class="logo">
      </a>
    </div>
    <ul class="nav navbar-nav menuContainer">
      <li class="active"><a routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <li><a routerLink="/about"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
      <li class="dropdown" dropdown> <!-- {1} -->
        <a dropdownToggle role="button"> <!-- {2} -->
          <i class="fa fa-cogs" aria-hidden="true"></i> Setting <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
          <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> add Student</a></li>
          <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> add Teacher</a></li>
          <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> add Financial</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> add Management System</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> add branchs</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
