.LogoContainer .navbar-brand {
  height: auto !important;
}

.menuContainer {
  margin-left: 5% !important;
  margin-top: 1.5% !important;
}

.menuContainer li a {
  color: #008cb4;
  font-weight: bolder;
}

.menuContainer li a:hover, .menuContainer li.active a {
  background-color: #008cb4 !important;
  color: #fff;
  border-radius: 12px;
}

.menuContainer li li a:hover {
  border-radius: 7px;
}


