<div class="col-md-8 NoPadding">
  <div class="LoginBackground">
    <img src="../../assets/images/loginBackground2.png">
  </div>
</div>
<div class="col-md-4 NoPadding">
  <div class="LoginForm">
    <div class="Logo">
      <img src="../../assets/images/logo1.png">
    </div>
    <div class="LoginFormContainer">
      <form #loginForm="ngForm" (ngSubmit)="SetSubmit(loginForm.value)">
        <div class="form-group">
          <label>Email</label>
          <input type="text" #emailInput="ngModel" ngModel name="email" class="form-control" required
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <!--<div [hidden]="!emailInput.errors" class="alert alert-danger">Email is Required</div>-->
          <div *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched )">
            <div *ngIf="emailInput.errors.required"><label class="validation-error-label">This field is
              required.</label>
            </div>
            <div *ngIf="emailInput.errors.pattern"><label class="validation-error-label"> email Pattern</label></div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" ngModel name="password" class="form-control" required>
          <div *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched )">
            <div *ngIf="emailInput.errors.required"><label class="validation-error-label">This field is
              required.</label></div>
          </div>
        </div>
        <p><input type="checkbox" class=""><span>remember me</span></p>
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-success form-control" name="Submit">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
