body { margin: 0px; }

.NoPadding { padding: 0px !important; }

/* ----------------------------------   Login Style  -------------------------------------------  */

.LoginBackground {  width:100%;  background: #eee; overflow: hidden;
  height:100vh;}
 .LoginBackground img { width: 100%; }

.LoginForm { width: 100%;  height:100vh; background:#eee; padding: 10px;  }
 .LoginForm .Logo{  width: 100%; height: auto;  margin-top: 15%;  }
   .LoginForm .Logo img { width: 80%; margin-left: 10%; }
 .LoginForm .LoginFormContainer { width: 100%; margin-top: 5%; }
  .LoginForm .LoginFormContainer .form-control[disabled] { background-color: #5cb85c !important; }
  .LoginForm .LoginFormContainer input[type="radio"],.LoginForm .LoginFormContainer input[type="checkbox"] { margin-right: 5px; }
